.container{ 
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 50px 50px;
}



.welcome-box{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: -1;
}

.parent{ 
  align-items: center;
  justify-content: center;

}

.sideNav{
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  align-items: stretch;
  z-index: 1;
}

.tasks{
  z-index: 1;
}